@* By SM on Nov 12, 2020 for load model *@
@using DesiClothing4u.Common.Models
@model Load
@* By SM on Nov 12, 2020 for load model-changes end *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="banner-top container-fluid" id="home">
    <!-- header -->
    <header>
        <div class="row">
            <div class="col-md-3 top-info text-left mt-lg-4">
                <h6>Need Help</h6>
                <ul>
                    <li>
                        <i class="fas fa-phone"></i> Call
                    </li>
                    <li class="number-phone mt-3">12345678099</li>
                </ul>
            </div>
            <div class="col-md-6 logo-w3layouts text-center">
                <h1 class="logo-w3layouts">
                    <a class="navbar-brand" href="index.html">
                        Desi Clothing
                    </a>
                </h1>
            </div>

            <div class="col-md-3 top-info-cart text-right mt-lg-4">
                <ul class="cart-inner-info">
                    <li class="button-log">
                        <a class="btn-open" href="#">
                            <span class="fa fa-user" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li class="galssescart galssescart2 cart cart box_1">
                        <form action="#" method="post" class="last">
                            <input type="hidden" name="cmd" value="_cart">
                            <input type="hidden" name="display" value="1">
                            <button class="top_googles_cart" type="submit" name="submit" value="">
                                My Cart
                                <i class="fas fa-cart-arrow-down"></i>
                            </button>
                        </form>
                    </li>
                </ul>
                <!---->
                <div class="overlay-login text-left">
                    <button type="button" class="overlay-close1">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                    <div class="wrap">
                        <h5 class="text-center mb-4">Login Now</h5>
                        <div class="login p-5 bg-dark mx-auto mw-100">
                            @* Added by Mohtashim on Nov 29, 2020 *@
                            <script>
                                function changeAction() {
                                    alert('called');
                                    var frm = document.getElementById('frmLogin') || null;
                                    var chk = document.getElementById('loginasvendor') || null;
                                    if (frm) {
                                        if (chk.checked == true) {
                                            alert('checkbox clicked');
                                            frm.action = '/Vendor/CheckVendorLogin';
                                        }
                                        else {

                                            frm.action = '/Home/CheckCustomerLogin'
                                        }
                                    }
                                }

                            </script>
                            @*<div class="wrap">
                                <h5 class="text-center mb-4">Login Now</h5>
                                <div class="login p-5 bg-dark mx-auto mw-100">*@

                            <form action="/" id="frmLogin" method="post">

                                <div class="form-check mb-2">
                                    <input type="checkbox" class="form-check-input" id="loginasvendor">
                                    <label class="form-check-label" for="loginasvendor">Login as Vendor</label>
                                </div>
                                <div class="form-group">
                                    <label class="mb-2">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                           name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                                    <small id="emailHelp" class="form-text text-muted">
                                        We'll never share your email
                                        with anyone else.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label class="mb-2">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                           name="exampleInputPassword1" placeholder="" required="">
                                </div>
                                <div class="form-check mb-2">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>

                                <button type="submit" class="btn btn-primary submit mb-4" onclick="changeAction();">Sign In</button>

                                <div>
                                    <p>Don't have an account? <a href="#signupform" data-toggle="modal" data-dismiss="modal">Signup Here</a></p></br>
                                </div>

                            </form>
                            @* CHanes by Mohtashim ends here *@
                            @*<form action="~/Vendor/CheckVendorLogin" id="frmLogin" method="post">
                                    <div class="form-check mb-2">
                                        <input type="checkbox" class="form-check-input" id="loginasvendor">
                                        <label class="form-check-label" for="loginasvendor">Login as Vendor</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-2">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                               name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                                        <small id="emailHelp" class="form-text text-muted">
                                            We'll never share your email
                                            with anyone else.
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-2">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1"
                                               name="exampleInputPassword1" placeholder="" required="">
                                    </div>
                                    <div class="form-check mb-2">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
                                    <div>
                                        <p>Don't have an account? <a href="#signupform" data-toggle="modal" data-dismiss="modal">Signup Here</a></p></br>
                                    </div>

                                </form>*@
                        </div>
                        <!---->
                    </div>
                </div>
                <!--Register-Form -->
                <div class="modal fade " id="signupform" tabindex="-1" role="dialog" aria-labelledby="signupform">
                    <div class="modal-dialog overlay-register" role="document" style="max-width: 50%;">
                        <div class="modal-content bg-dark">
                            <button type="button" class="overlay-close2" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <div class="wrap">
                                <h5 class="text-center mb-4">Register</h5>

                                @*<form id="frmRegister" method="post" action="@Url.Action("CreateCustomer", "Home")">*@
                                <form id="frmRegister" method="post">
                                    <div class="row contact_left_grid ">
                                        <div class="col-md-6 con-left">
                                            <div class="form-group" style="text-align:left">
                                                <label class="text-white">First Name</label>
                                                <input class="form-control" type="text" name="FirstName" id="FirstName" placeholder="" required="" value="1">
                                            </div>
                                            <div class="form-group" style="text-align:left">
                                                <label class="text-white">Last Name</label>
                                                <input class="form-control" type="text" name="LastName" id="LastName" placeholder="" required="" value="1">
                                            </div>
                                            <div class="form-group" style="text-align:left">
                                                <label class="text-white">Password</label>
                                                <input class="form-control" type="password" name="Password1" id="Password1" placeholder="" required="" value="1">
                                            </div>
                                        </div>
                                        <div class="col-md-6 con-right">
                                            <div class="form-group" style="text-align:left">
                                                <label class="text-white">Date of birth</label>
                                                <input class="form-control" type="text" name="dateofbirth" placeholder="" required="" value="1">
                                            </div>
                                            <div class="form-group" style="text-align:left">
                                                <label class="text-white">Email</label>
                                                <input class="form-control" type="email" name="Email" id="Email" placeholder="" required="" value="1@1.com">
                                            </div>
                                            <div class="form-group" style="text-align:left">
                                                <label class="text-white">Confirm Password</label>
                                                <input class="form-control" type="password" name="Password2" id="Password2" placeholder="" required="" value="1">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row contact_left_grid">
                                        <div class="col-md-6 con-left">
                                            <div class="form-group" style="text-align:left">
                                                <label class="text-white">Street Address1</label>
                                                <input class="form-control" type="text" name="Streetaddress1" id="Streetaddress1" placeholder="" required="" value="1">
                                            </div>
                                            <div class="form-group" style="text-align:left">
                                                <label class="text-white">Street Address2</label>
                                                <input class="form-control" type="text" name="Streetaddress2" id="Streetaddress2" placeholder="" required="" value="1">
                                            </div>
                                            <div class="form-group" style="text-align:left">
                                                <label class="text-white">Country</label>
                                                <div class="select">
                                                    <select class="form-control" name="Country" id="Country">
                                                        <option value="x">Select Country</option>
                                                        <option value="USA" selected>USA</option>
                                                        <option value="Pakistan">Pakistan</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 con-right">
                                            <div class="form-group" style="text-align:left">
                                                <label class="text-white">City.</label>
                                                <input class="form-control" type="text" name="City" id="City" placeholder="" required="" value="1">
                                            </div>
                                            <div class="form-group" style="text-align:left">
                                                <label class="text-white">Phone No.</label>
                                                <input class="form-control" type="text" name="Phoneno" id="Phoneno" placeholder="" required="" value="1">
                                            </div>
                                            <div class="form-group" style="text-align:left">
                                                <label class="text-white">Zip Code</label>
                                                <input class="form-control" type="text" name="Zipcode" id="Zipcode" placeholder="" required="" value="1">
                                            </div>
                                            @*<input class="form-control" type="submit" value="Submit">*@
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        @*<button type="submit" class="btn btn-primary submit mb-4">Register</button>*@
                                        @*<input class="form-control" type="submit" value="Submit" onclick="Register()">*@
                                        <input class="form-control" type="submit" value="Submit" onclick="Register1()">
                                    </div>
                                    <script>
                                        function Register1() {
                                            var FirstName1 = $('#FirstName').val();
                                            var LastName1 = $('#LastName').val();
                                            var Password1 = $('#Password1').val();
                                            var Email1 = $('#Email').val();
                                            var StreetAddress11 = $('#Streetaddress1').val();
                                            var StreetAddress21 = $('#Streetaddress2').val();
                                            var Country1 = $('#Country').val();
                                            var City1 = $('#City').val();
                                            var Phoneno1 = $('#Phoneno').val();
                                            var ZipCode1 = $('#Zipcode').val();
                                            alert('called AGAIN');
                                            var MyCustomer = {
                                                FirstName: FirstName1,
                                                LastName: LastName1,
                                                Password: Password1,
                                                Email: Email1,
                                                StreetAddress1: StreetAddress11,
                                                Country: Country1,
                                                City: City1,
                                                Phoneno: Phoneno1,
                                                ZipCode: ZipCode1,
                                                StreetAddress2: StreetAddress21
                                            }
                                            alert(MyCustomer);
                                            $.ajax({
                                                url: 'https://localhost:44328/Home/CreateCustomer',
                                                type: 'POST',
                                                dataType: 'json',
                                                contentType: 'application/json; charset=utf-8',
                                                data: JSON.stringify(MyCustomer)
                                                , success: function (result) {
                                                    alert("Registered: ");
                                                }
                                                , error: function (result) {
                                                    alert("err " + result.responseText);
                                                }
                                            })
                                        }
                                    </script>
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Register-Form -->
                <!---->
            </div>
        </div>
        <!--<div class="search">
        <div class="mobile-nav-button">
            <button id="trigger-overlay" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>-->
        <!-- open/close -->
        <!--<div class="overlay overlay-door">
            <button type="button" class="overlay-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <form action="#" method="post" class="d-flex">
                <input class="form-control" type="search" placeholder="Search here..." required="">
                <button type="submit" class="btn btn-primary submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>

        </div>-->
        <!-- open/close -->
        <!--</div>-->
        <div class="row">
            @*<div style="text-align: right;">
                    @if (Model is DesiClothing4u.Common.Models.Customer)
                    {
                        Html.RenderPartial("Welcome");
                    }
                    else if (Model is DesiClothing4u.Common.Models.Error)
                    {
                        Html.RenderPartial("Error");
                    }
                    else
                    {

                    }
                </div>*@
            <div id="welcome" display:none">
                <label id="welcomemessage">Welcome</label>
                <script>
                                   @if (@Model.Customer==null)
                                    {
                                    }
                                    else
                                    {
                                        <text>var a= "@Model.Customer.Username";
                                        document.getElementById("welcome").innerHTML = "Welcome " + a; </text>
                                    }
                </script>
                <script>
                    function checklogin() {
                    //alert("First one");
                    var form = $("#frmLogin");
                    //alert(form.serialize());
                    var userId = $('#exampleInputEmail1').val();
                    var pwd = $('#exampleInputPassword1').val();
                        alert(userId);
                        alert(pwd);
                    var checkBox = document.getElementById("loginasvendor");
                    if (checkBox.checked == true) {
                        //alert("Checked");
                        $.ajax({
                        data: { "email": userId, "pwd": pwd },
                        url: '@Url.Action("CheckVendorLogin", "Vendor")',
                        type: 'POST'
                        , success: function (vendor) {
                        alert("success ");
                        }
                        , error: function (a) {
                        alert("err "+ result.responseText);
                        }
                        })
                    }
                    else {
                        alert("UnChecked");
                        }
                    }
                </script>
            </div>
        </div>
        <label class="top-log mx-auto"></label>
        <nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">

                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-mega mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link ml-lg-0" href="index.html">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Women
                        </a>
                        <ul class="dropdown-menu mega-menu ">
                            <li>
                                <div class="row">
                                    <div class="col-md-4 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub"> Clothing </h5>
                                        <ul>
                                            <li class="media-mini mt-3">
                                                <a href="shop.html">Kurti</a>
                                            </li>
                                            <li class="">
                                                <a href="shop.html"> Shoes</a>
                                            </li>
                                            <!-- <li>
                                                <a href="shop.html">Prescription Glasses</a>
                                            </li> -->
                                            <li class="mt-3">
                                                <h5>View more pages</h5>
                                            </li>
                                            <li class="mt-2">
                                                <a href="about.html">About</a>
                                            </li>
                                            <li>
                                                <a href="customer.html">Customers</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub"> Clothing </h5>
                                        <div class="media-mini mt-3">
                                            <a href="shop.html">
                                                <img src="images/g2.jpg" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub"> Shoes </h5>
                                        <div class="media-mini mt-3">
                                            <a href="shop.html">
                                                <img src="images/g3.jpg" class="img-fluid" alt="">
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Men
                        </a>
                        <ul class="dropdown-menu mega-menu ">
                            <li>
                                <div class="row">
                                    <div class="col-md-4 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub"> Clothing </h5>
                                        <ul>
                                            <li class="media-mini mt-3">
                                                <a href="shop.html">T-Shirts</a>
                                            </li>
                                            <li class="">
                                                <a href="shop.html">Shirts</a>
                                            </li>
                                            <!-- <li>
                                                <a href="shop.html">Prescription Glasses</a>
                                            </li>
                                            <li>
                                                <a href="shop.html">Rx Sunglasses</a>
                                            </li>
                                            <li>
                                                <a href="shop.html">Contact Lenses</a>
                                            </li>
                                            <li>
                                                <a href="shop.html">Multifocal Glasses</a>
                                            </li>
                                            <li>
                                                <a href="shop.html">Kids Glasses</a>
                                            </li>
                                            <li>
                                                <a href="shop.html">Lightweight Glasses</a>
                                            </li>
                                            <li>
                                                <a href="shop.html">Sports Glasses</a>
                                            </li> -->
                                        </ul>
                                    </div>
                                    <div class="col-md-4 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub"> Shoes </h5>
                                        <ul>
                                            <li class="media-mini mt-3">
                                                <a href="shop.html">Casual</a>
                                            </li>
                                            <li>
                                                <a href="shop.html">Formal</a>
                                            </li>
                                            <!-- <li>
                                                <a href="shop.html">Polo Ralph Lauren</a>
                                            </li>
                                            <li>
                                                <a href="shop.html">Prada</a>
                                            </li>
                                            <li>
                                                <a href="shop.html">Ray-Ban Jr</a>
                                            </li>
                                            <li>
                                                <a href="shop.html">Sferoflex</a>
                                            </li> -->
                                        </ul>
                                        <!-- <ul class="sub-in text-left">

                                                                                       <li>
                                                                                           <a href="shop.html">Polo Ralph Lauren</a>
                                                                                       </li>
                                                                                       <li>
                                                                                           <a href="shop.html">Prada</a>
                                                                                       </li>
                                                                                       <li>
                                                                                           <a href="shop.html">Ray-Ban Jr</a>
                                                                                       </li>
                                                                                   </ul>
                                        -->
                                    </div>
                                    <div class="col-md-4 media-list span4 text-left">

                                        <h5 class="tittle-w3layouts-sub-nav"> T-Shirts </h5>
                                        <div class="media-mini mt-3">
                                            <a href="shop.html">
                                                <img src="images/g1.jpg" class="img-fluid" alt="">
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#signupform" data-toggle="modal" data-dismiss="modal">Signup Here</a>
                    </li>

                </ul>

            </div>
        </nav>
    </header>
    <!-- //header -->
    <!-- banner -->
    <div class="banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <!-- <div class="carousel-caption text-center">
                        <h3>Men’s eyewear
                            <span>Cool summer sale 50% off</span>
                        </h3>
                        <a href="shop.html" class="btn btn-sm animated-button gibson-three mt-4">Shop Now</a>
                    </div> -->
                </div>
                <div class="carousel-item item2">
                    <!-- <div class="carousel-caption text-center">
                        <h3>Women’s eyewear
                            <span>Want to Look Your Best?</span>
                        </h3>
                        <a href="shop.html" class="btn btn-sm animated-button gibson-three mt-4">Shop Now</a>

                    </div> -->
                </div>
                <div class="carousel-item item3">
                    <!-- <div class="carousel-caption text-center">
                        <h3>Men’s eyewear
                            <span>Cool summer sale 50% off</span>
                        </h3>
                        <a href="shop.html" class="btn btn-sm animated-button gibson-three mt-4">Shop Now</a>

                    </div> -->
                </div>
                <div class="carousel-item item4">
                    <!-- <div class="carousel-caption text-center">
                        <h3>Women’s eyewear
                            <span>Want to Look Your Best?</span>
                        </h3>
                        <a href="shop.html" class="btn btn-sm animated-button gibson-three mt-4">Shop Now</a>
                    </div> -->
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!--//banner -->
    </div>
</div>
<!--//banner-sec-->
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container-fluid">
        <div class="inner-sec-shop px-lg-4 px-3">
            <h3 class="tittle-w3layouts my-lg-4 my-4">New Arrivals for you </h3>
            <div class="row">
                <!-- /womens -->
                @* By SM on Nov 13, 2020 for New arrivals *@
                @foreach (var i in Model.NewProduct)
                {
                    <div class="col-md-3 product-men women_two">

                        <div class="product-googles-info googles">
                            <div class="men-pro-item">
                                <div class="men-thumb-item">
                                    @*@foreach (var p in i.ProductPictureMappings)
                                        {
                                            <img src='@Url.Content(p.Picture.FileName )' class="img-fluid" alt="">
                                        }*@
                                    @foreach (var p in i.ProductPictureMappings)
                                    {
                                        int len = i.ProductPictureMappings.Count;

                                        for (int j = 0; j < len;)
                                        {
                                            <img src='@Url.Content(p.Picture.FileName )' class="img-fluid" alt="">j = len;
                                            break;

                                        }
                                        break;
                                    }
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            @*<a href="single.html" class="link-product-add-cart">Quick View</a>*@
                                            <a href="@Url.Action("Details", "Product", new {id=i.Id})" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product">
                                    <div class="info-product-price">
                                        <div class="grid_meta">
                                            <div class="product_price">
                                                <h4>
                                                    <a href="single.html">@i.Name</a>
                                                </h4>

                                                <div class="grid-price mt-2">
                                                    <span class="money ">$@i.Price </span>
                                                </div>

                                            </div>
                                            <ul class="stars">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="googles single-item hvr-outline-out">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart">
                                                <input type="hidden" name="add" value="1">
                                                <input type="hidden" name="googles_item" value=@i.Name>
                                                <input type="hidden" name="amount" value=@i.Price>
                                                <button type="submit" class="googles-cart pgoogles-cart">
                                                    <i class="fas fa-cart-plus"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-12 middle-slider my-4">
                    <div class="middle-text-info ">

                        <h3 class="tittle-w3layouts two text-center my-lg-4 mt-3">Summer Flash sale</h3>
                        <!-- <div class="simply-countdown-custom" id="simply-countdown-custom"></div> -->

                    </div>
                </div>
            </div>

            <div class="row">
                <h3 class="tittle-w3layouts my-lg-4 my-4">Featured Products </h3>
                <!-- /womens -->
                @* By SM on Nov 13, 2020 for Featured Products *@
                @foreach (var i in Model.FeaturedProduct)
                {
                    <div class="col-md-3 product-men women_two">
                        asdasdasd
                        <div class="product-googles-info googles">
                            <div class="men-pro-item">
                                <div class="men-thumb-item">
                                    @foreach (var p in i.ProductPictureMappings)
                                    {
                                        int len = i.ProductPictureMappings.Count;

                                        for (int j = 0; j < len;)
                                        {
                                            <img src='@Url.Content(p.Picture.FileName )' class="img-fluid" alt="">j = len;
                                            break;

                                        }
                                        break;
                                    }
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            @*<a href="single.html" class="link-product-add-cart">Quick View</a>*@
                                            <a href="@Url.Action("Details", "Product", new {id=i.Id})" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product">
                                    <div class="info-product-price">
                                        <div class="grid_meta">
                                            <div class="product_price">
                                                <h4>
                                                    <a href="single.html">@i.Name</a>
                                                </h4>

                                                <div class="grid-price mt-2">
                                                    <span class="money ">$@i.Price </span>
                                                </div>

                                            </div>
                                            <ul class="stars">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="googles single-item hvr-outline-out">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart">
                                                <input type="hidden" name="add" value="1">
                                                <input type="hidden" name="googles_item" value=@i.Name>
                                                <input type="hidden" name="amount" value=@i.Price>
                                                <button type="submit" class="googles-cart pgoogles-cart">
                                                    <i class="fas fa-cart-plus"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- /testimonials -->
            <div class="testimonials py-lg-4 py-3 mt-4">
                <div class="testimonials-inner py-lg-4 py-3">
                    <h3 class="tittle-w3layouts text-center my-lg-4 my-4">Testimonials</h3>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="testimonials_grid text-center">
                                    <h3>
                                        <span>Customer</span>
                                    </h3>
                                    <label>United States</label>
                                    <p>
                                        Multiply them herb is bearing the the a. Bring face female winged sixth beast
                                        god abundantly saw rule great first morning waters him. Lights itself sixth,
                                        you signs years subdue life together lights were morning. You're Lights
                                        green night thing day I for. First. Meat firmament she'd above cattle. Unto
                                        sea second stars divided living was morning day created. Day brought she'd
                                        all stars. Herb moved subdue thing a green thing a don't lesser. Creeping
                                        open own brought god subdue years let grass be given man he of. Appear from
                                        thing all also. Isn't two don't. Days abundantly multiply Seed.
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testimonials_grid text-center">
                                    <h3>
                                        <span>Customer</span>
                                    </h3>
                                    <label>United States</label>
                                    <p>
                                        Multiply them herb is bearing the the a. Bring face female winged sixth beast
                                        god abundantly saw rule great first morning waters him. Lights itself sixth,
                                        you signs years subdue life together lights were morning. You're Lights
                                        green night thing day I for. First. Meat firmament she'd above cattle. Unto
                                        sea second stars divided living was morning day created. Day brought she'd
                                        all stars. Herb moved subdue thing a green thing a don't lesser. Creeping
                                        open own brought god subdue years let grass be given man he of. Appear from
                                        thing all also. Isn't two don't. Days abundantly multiply Seed.
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testimonials_grid text-center">
                                    <h3>
                                        <span>Customer</span>
                                    </h3>
                                    <label>United States</label>
                                    <p>
                                        Multiply them herb is bearing the the a. Bring face female winged sixth beast
                                        god abundantly saw rule great first morning waters him. Lights itself sixth,
                                        you signs years subdue life together lights were morning. You're Lights
                                        green night thing day I for. First. Meat firmament she'd above cattle. Unto
                                        sea second stars divided living was morning day created. Day brought she'd
                                        all stars. Herb moved subdue thing a green thing a don't lesser. Creeping
                                        open own brought god subdue years let grass be given man he of. Appear from
                                        thing all also. Isn't two don't. Days abundantly multiply Seed.
                                    </p>
                                </div>
                            </div>
                            <a class="carousel-control-prev test" href="#carouselExampleControls" role="button"
                               data-slide="prev">
                                <span class="fas fa-long-arrow-alt-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next test" href="#carouselExampleControls" role="button"
                               data-slide="next">
                                <span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //testimonials -->
            <div class="row galsses-grids pt-lg-5 pt-3">
                <div class="col-lg-6 galsses-grid-left">
                    <figure class="effect-lexi">
                        <img src="images/banner4.jpg" alt="" class="img-fluid">
                        <figcaption>
                            <h3>
                                Editor's
                                <span>Pick</span>
                            </h3>
                            <p> Express your style now.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-6 galsses-grid-left">
                    <figure class="effect-lexi">
                        <img src="images/banner1.jpg" alt="" class="img-fluid">
                        <figcaption>
                            <h3>
                                Editor's
                                <span>Pick</span>
                            </h3>
                            <p>Express your style now.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- /grids -->
            <div class="bottom-sub-grid-content py-lg-5 py-3">
                <div class="row">
                    <div class="col-lg-4 bottom-sub-grid text-center">
                        <div class="bt-icon">

                            <span class="far fa-hand-paper"></span>
                        </div>

                        <h4 class="sub-tittle-w3layouts my-lg-4 my-3">Satisfaction Guaranteed</h4>
                        <p>
                            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
                            nec elit.
                        </p>
                        <p>
                            <a href="shop.html" class="btn btn-sm animated-button gibson-three mt-4">Shop Now</a>
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4 bottom-sub-grid text-center">
                        <div class="bt-icon">
                            <span class="fas fa-rocket"></span>
                        </div>

                        <h4 class="sub-tittle-w3layouts my-lg-4 my-3">Fast Shipping</h4>
                        <p>
                            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
                            nec elit.
                        </p>
                        <p>
                            <a href="shop.html" class="btn btn-sm animated-button gibson-three mt-4">Shop Now</a>
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4 bottom-sub-grid text-center">
                        <div class="bt-icon">
                            <span class="far fa-sun"></span>
                        </div>

                        <h4 class="sub-tittle-w3layouts my-lg-4 my-3">UV Protection</h4>
                        <p>
                            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
                            nec elit.
                        </p>
                        <p>
                            <a href="shop.html" class="btn btn-sm animated-button gibson-three mt-4">Shop Now</a>
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
            </div>
            <!-- //grids -->
            <!-- /clients-sec -->
            <div class="testimonials p-lg-5 p-3 mt-4">
                <div class="row last-section">
                    <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                        <div class="mail-grid-icon text-center">
                            <i class="fas fa-gift"></i>
                        </div>
                        <div class="mail-grid-text-info">
                            <h3>Genuine Product</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                    </div>
                    <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                        <div class="mail-grid-icon text-center">
                            <i class="fas fa-shield-alt"></i>
                        </div>
                        <div class="mail-grid-text-info">
                            <h3>Secure Products</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                    </div>
                    <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                        <div class="mail-grid-icon text-center">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <div class="mail-grid-text-info">
                            <h3>Cash on Delivery</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                    </div>
                    <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                        <div class="mail-grid-icon text-center">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="mail-grid-text-info">
                            <h3>Easy Delivery</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //clients-sec -->
        </div>
    </div>
</section>
